:root {
    --primary-font: "Poppins", serif;
}

/* Global Styles */
html, body, div, p, a {
    font-family: var(--primary-font);
}


/* Section Wise Styles */

.title {
    font-size: 45px;
}

/* Portfolio Styles*/
.portfolio .card {
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.portfolio .card img {
    transition: transform 0.3s ease-in-out;
}

.portfolio .card:hover {
    transform: scale(1.025);
}

.portfolio .card:hover img {
    transform: scale(1.030);
}

/* List styles */
ol li::marker {
    font-size: 22px;
    font-weight: 500;
}

ol li {
    padding-top: 20px;
    padding-bottom: 15px;
}

ol li:not(:last-child) {
    border-bottom: 1px solid rgb(213, 213, 213);
}