:root{
    --primary-font: "Mona Sans", sans-serif;
    --navbar-text: #363636;
}

/* Typography */
html, body {
    font-family: var(--primary-font);
}
/* h1,h2,h3,h4,h5,h6{
    font-weight: 800;
} */

/* Navigation bar */
.navbar{
    background-color: rgba(255,255,255,0.2);
    /* background-color: white; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid #ffffff33;
}
.navbar-brand{
    color: var(--navbar-text);
    font-size: 1.4rem;
}
.navbar-brand:hover{
    color:var(--navbar-text);
}
.nav-link{
    color:var(--navbar-text);
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}
@media screen and (min-width: 1024px) {
    .nav-link:hover{
        color:var(--navbar-text);
        transform: scale(1.1);
    }
}
@media screen and (max-width: 1023px) {
    .nav-link:hover{
        color:var(--navbar-text);
        font-size: 1.2rem;
    }
}
.nav-link:visited{
    color:var(--navbar-text);
}

.navbar-toggler{
    color: var(--navbar-text);
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgba(0,0,0,0)
}
/* Rotate on hover */
.navbar-toggler:hover {
    transform: rotate(90deg);
}

/* Stay rotated when clicked (menu open) */
.navbar-toggler[aria-expanded="true"] {
    transform: rotate(90deg);
}

/* Default state (ensure it starts at 0deg) */
.navbar-toggler {
    transform: rotate(0deg);
}

/* Rotate back when menu is closed */
.navbar-toggler[aria-expanded="false"] {
    transform: rotate(0deg);
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}



/* Theme */
.custom-section{
    padding-top: 12%;
    padding-bottom: 12%;
}

/* Button */


/* Home page specific */
.hero-section{
    background-image: url("../../assets/images/1.png");
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
    /* transform-style: preserve-3d; */
}
.hero-text{
    color: white;
    text-shadow: 0px 2px 15px rgba(0,0,0,0.8)
}
.hero-section .intro{
    font-size: 2rem;
    display: inline-block;
}
.hero-section .line{
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    border-top: 4px solid white;
    height: 10px;
}

.services .fa-brands, .services .fa-solid{
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(205, 205, 205);
}

footer .fa-brands, footer .fa-solid{
    font-size: 35px;
    margin-right: 10px;
}